<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MR Mange Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<!-- Navbar (sit on top) -->
<div class="navbar-container">
    <div class="navbar-subcontainer navbar-style">
        <a href=@Url.Action("Index", "Home") class="navbar-buttons"><b>MR</b> Mange </a>
        <!-- Float links to the right. Hide them on small screens -->
        <div class="navbar-collapse collapse navbar-list">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home", new {area = ""}, new {@class = "navbar-subcontainer-item navbar-buttons" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new {area = ""}, new {@class = "navbar-subcontainer-item navbar-buttons" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", new {area = ""}, new {@class = "navbar-subcontainer-item navbar-buttons" })</li>
            </ul>
        </div>
    </div>
</div>

<!-- Body container -->
@RenderBody()

<footer>
    <p>&copy; @DateTime.Now.Year - MR Mange Application </p>
</footer>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>
