@using JiraCloneMVC.Web.Models
@using JiraCloneMVC.Web.ViewModels
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container my-5">
    <h3 class="alert-danger">@ViewBag.message</h3>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h2>Project Info</h2>
    <div class="row d-none d-md-flex text-cen">
        <div class="col-md-2">Organizer Name</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-1">Description</div>
        <div class="col-md-3">Status</div>
        <div class="col-md-2">Start Date</div>
        <div class="col-md-2">End Date</div>
    </div>
    <hr class="d-none d-md-block" />
    @Html.Partial("_ProjectAdministrateDetailsPreview", (Project) Model.Project)

</div>





<h2>Add Member</h2>

<h3>Project Info</h3>
<table class="table">
    <tr>
        <th>
            Organizer Name
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            <i class="glyphicon glyphicon-user"></i>@Model.Organizer.UserName
        </td>
        <td>
            @Model.Project.Name
        </td>
        <td>
            @Model.Project.Description
        </td>
        <td>
            @Model.Project.Status
        </td>
        <td>
            @Model.Project.StartDate
        </td>
        <td>
            @Model.Project.EndDate
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Project.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Project.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Project.Id })
        </td>
    </tr>

</table>


<h3>Add member</h3>
<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

    @foreach (User item in Model.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                <form method="post" action="/Projects/AddMember">
                    @Html.AntiForgeryToken()
                    <input id="idProj" name="idProj" type="text" value="@Model.Project.Id" style="display: none" />
                    <input id="idUser" name="idUser" type="text" value="@item.Id" style="display: none" />
                    <input type="submit" value="Add" class="btn" />
                </form>
            </td>
        </tr>
    }

</table>



