@using JiraCloneMVC.Web.Models
@using JiraCloneMVC.Web.ViewModels
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container my-5">
    <h3 class="alert-danger">@ViewBag.message</h3>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <h2>Project Info</h2>
    <div class="row d-none d-md-flex text-cen">
        <div class="col-md-2">Reporter</div>
        <div class="col-md-2">Name</div>
        <div class="col-md-1">Description</div>
        <div class="col-md-3">Status</div>
        <div class="col-md-2">Start Date</div>
        <div class="col-md-2">End Date</div>
    </div>
    <hr class="d-none d-md-block" />
    @Html.Partial("_ProjectAdministrateDetailsPreview", (Project)Model.Project)

    <h3>Add member</h3>
    
    <div class="row d-none d-md-flex text-cen">
        <div class="col-md-2">User Name</div>
        <div class="col-md-3">Email</div>
        <div class="col-md-2">Phone</div>
    </div>
    <hr class="d-none d-md-block" />
    
    @foreach (User item in Model.Users)
    {

        <div class="card shadow-lg tile-link mb-2">
            <div class="row card-body">
                <div class="col-6 d-block d-md-none">Reporter</div>
                <div class="col-6 col-md-2">
                    @item.UserName
                </div>
                <div class="col-6 d-block d-md-none">Description</div>
                <div class="col-6 col-md-3 text-truncate">
                    @item.Email
                </div>
                <div class="col-6 d-block d-md-none">Status</div>
                <div class="col-6 col-md-2">
                    @item.PhoneNumber
                </div>
                <div class="col-6 col-md-1">
                    <form method="post" action="/Projects/@Model.Project.Id/AddMember/@item.Id">
                        @Html.AntiForgeryToken()
                        <input type="submit" value="Add" class="btn btn-dark" />
                    </form>
                </div>
            </div>
        </div>
    }

</div>


