@using JiraCloneMVC.Web.Models
@model dynamic

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Role
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Model.Organizer.UserName
        </td>
        <td>
            Organizer
        </td>
        <td>
            @Model.Organizer.Email
        </td>
        <td>
            @Model.Organizer.PhoneNumber
        </td>
    </tr>

    @foreach (User item in Model.Members)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                Member
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
        </tr>
    }

</table>


