@using JiraCloneMVC.Web.Models

<p>
    <a href=" @Url.Action("AddMember", "Projects", new { id = Model.Project.Id })" class="btn btn-dark">Add New Member</a>
</p>

<div class="row d-none d-md-flex text-cen">
    <div class="col-md-2">User Name</div>
    <div class="col-md-2">Role</div>
    <div class="col-md-3">Email</div>
    <div class="col-md-1">Phone</div>
</div>
<hr class="d-none d-md-block" />

@foreach (User item in Model.Members)
{
    var role = item.Groups.FirstOrDefault(g => g.ProjectId == (int)ViewData["projectId"]).Role.Name;
    <div class="card shadow-lg tile-link mb-2">
        <div class="row card-body">
            <div class="col-6 d-block d-md-none">Reporter</div>
            <div class="col-6 col-md-2">
                @item.UserName
            </div>
            <div class="col-6 d-block d-md-none">Title</div>
            <div class="col-6 col-md-2 text-truncate">
                @role
            </div>
            <div class="col-6 d-block d-md-none">Description</div>
            <div class="col-6 col-md-3 text-truncate">
                @item.Email
            </div>
            <div class="col-6 d-block d-md-none">Status</div>
            <div class="col-6 col-md-1">
                @item.PhoneNumber
            </div>
            @if (ViewBag.Rol.Equals("Administrator") || role.Equals("Member"))
            {
                <div class="col-6 col-md-1">
                    <form method="post" action="/Projects/@Model.Project.Id/members/@item.Id">
                        @Html.HttpMethodOverride(HttpVerbs.Delete)
                        @Html.AntiForgeryToken()
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
}

<a href=" @Url.Action("Index", "Projects")" class="btn btn-success">Back to List</a>


