@using JiraCloneMVC.Web.Models
@model dynamic

<p>
    @Html.ActionLink("Add New Member", "AddMember", new { id = Model.Project.Id })
</p>

<table class="table">
    <tr>
        <th>
            User Name
        </th>
        <th>
            Role
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Model.Organizer.UserName
        </td>
        <td>
            Organizer
        </td>
        <td>
            @Model.Organizer.Email
        </td>
        <td>
            @Model.Organizer.PhoneNumber
        </td>
        <td></td>
    </tr>

    @foreach (User item in Model.Members)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                Member
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                <form method="post" action="/Projects/DeleteMember">
                    @Html.AntiForgeryToken()
                    <input name="userId" value=@item.Id style="display: none" />
                    <input name ="projId" value = @Model.Project.Id style="display: none"/>
                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                </form>
            </td>
        </tr>
    }

</table>

