@using JiraCloneMVC.Web.Models
@model dynamic
@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-5">
    <h2>Delete User</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Project</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                User Name
            </dt>

            <dd>
                @Model.User.UserName
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Model.User.Email
            </dd>

            <dt>
                Phone
            </dt>

            <dd>
                @Model.User.PhoneNumber
            </dd>

        </dl>
        
        @if (Model.NumberOfProjects == 0)
        {
            <form method="post" action="/Admin/DeleteConfirmed/@Model.User.Id">
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "SeeUsers")
                </div>
            </form>
        }
        else
        {
            <p class="btn-danger">The user is an organizer on several projects. You can not delete it. If you do, you can revoke it as an organizer</p>
        }


    </div>
</div>